/*
* @Author: pz
* @Date:   2018-03-27 16:42:12
* @Last Modified by:   pz
* @Last Modified time: 2018-03-30 18:39:17
*/
body { font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color:#FFF; background: #f6f6f6;margin: 0;}
html,body { width:100%; height: 100%;min-width: 800px;min-height: 600px; margin: 0;}
#wrapper{height: 100%;min-width: 800px;min-height: 600px;position: relative;}
a:link, a:visited, a:hover, a:active{text-decoration:none; }
input{outline: none;}
img {vertical-align: unset !important; }
 /*背景*/
.bg {position: relative;background: url('../images/sys-bg.png'); width: 100%; height:100%; background-repeat: no-repeat; background-size: 100% 100%;color:#FFF;}

/*公共区-common*/
.rotate90{transform: rotate(90deg);}
.rotate-90{transform: rotate(-90deg);}
.bottom0{bottom: 0;}
.left0{left: 0;}
.right0{right: 0;}

.w35p{width: 35%; text-align: center;}
.w25p{width: 25%; text-align: center;}
.w20p{width: 20%; text-align: center;}
.w15p{width: 15%; text-align: center;}
.w10p{width: 10%; text-align: center;}
.w5p{width: 5%; text-align: center;}

.color-g{color: #0bf3fb;}
/*主菜单高亮文字颜色*/
.color-g-menu{color:#0cf4fc;}

.color-p{color: #8104c5;}
.color-yellow{color:#ffd800;}
.color-green{color:#37ff9a;}
/*禁止选中文本*/
.noselect { -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Chrome/Safari/Opera */ -khtml-user-select: none; /* Konqueror */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently not supported by any browser */ }
/*两侧盒子*/
.side-box{position: absolute; width: 21.5%; height: 100%;}
.rect-liner {position: absolute; top: 0px; width: 69px; height: 100%;}
.type-btn{ position: absolute;  width: 150px; height: 54px; top: 50%; margin-top: -27px; margin-right: -40px; text-align: center; /*font-size: 2.5em;*/ font-size: 2.3em; letter-spacing: 2px; font-weight: bold; line-height: 50px;background-image: url(../images/type-btn-bg.png); z-index: 9;}
.type-btn-big{width: 247px;margin-right:-88px;background-image: url(../images/type-btn-bg-big.png);}


.back-btn{display: none;position: absolute;  width: 31px; height: 25px; right: 30px;top: 50%; margin-top: -12px;cursor: pointer; z-index: 9;}
.back-btn-left{top: 92%; left: 50%; margin-left: -12px;}
.back-btn-right{top: 8%; left: 50%; margin-left: -12px;}
/*两侧按钮盒子*/
.side-btns{position: absolute;width: 234px; height: 96%; top: 50%; left: calc((100% - 69px)/2); transform: translate(-50%,-50%);}

/*生产区+销售区+采购区 菜单按钮--start*/
.btn-bg-rect{position: relative;display: inline-block; height: 110px; line-height: 110px;width: 30%; margin: 1% 1% 0 1%;; background: url(../images/btn-bg-rect.png); background-size: 100% 100%; cursor: pointer;}
.btn-bg-rect-side{width: 110px; height: 32.5%;background: url(../images/btn-bg-rect-side.png); background-size: 100% 100%; } 
.btn-bg-white-circle {position: absolute; width: 64px; height: 64px; margin: 20px; border-style: solid; border-width: 3px; border-color: rgb(255, 255, 255); border-radius: 50%; background-image: -moz-linear-gradient( 90deg, rgb(223,223,223) 0%, rgb(255,255,255) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(223,223,223) 0%, rgb(255,255,255) 100%); background-image: -ms-linear-gradient( 90deg, rgb(223,223,223) 0%, rgb(255,255,255) 100%); }
.btn-bg-white-circle-y{}

.menu-icon{ margin: 22%;}
.menu-title{ position: absolute; width: 100%; left: 40%;display: inline-block; font-size: 1.5em; font-weight: bold; white-space: nowrap; }
.menu-title-right {bottom: 40%;left: 0; }
.menu-title-left {top: 40%; left: 0;}
/*生产区+销售区+采购区 菜单按钮--end*/

/*生产区*/
.g-liner{right: 0; background-image: -moz-linear-gradient( 180deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%); background-image: -webkit-linear-gradient( 180deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%); background-image: -ms-linear-gradient( 180deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%);}

/*销售区*/
.p-liner{left: 0; background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%); background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%); background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255, 0.5) 100%);}
.p-btns{left: calc((100% + 69px)/2);}
.p-type-btn{margin-left: -40px; }

/*系统菜单区*/
.center-box{position: absolute; width: 56.5%; height: 100%; top: 0; left: 50%; transform: translateX(-50%); overflow:hidden; }
.center-box-child{position: absolute;width: 100%; border-radius: 5px;overflow:hidden; }
.sys-box{ height: 60%;}
.sys-logo{position: absolute; width: 177px; height: 32px; top: 24px; left: 24px;}
.sys-name{position: absolute; top: 25px; left: 50%; transform: translateX(-50%);font-size: 2.8em;/*font-size: 3em;*/  }

/*时间框*/
.sys-time-box{position: absolute;top: 4%;right: 8px;width: 25%; }
.sys-timer{position: absolute; width: 80%; font-size: 1.5em; text-align: right; }
.time-number{display: inline-block; width: 23px; height: 40px; line-height: 40px; background: url(../images/time-bg.png); background-size: 100% 100%; margin: 0 2%; text-align: center; vertical-align: bottom;}
/*隐藏域-分-秒*/
.time-min, .time-sec{display: none;color: white;}
.sys-day-night{position: absolute;right: 0;width: 40px;}

.sys-menu{position: absolute; width: 408px; height: 400px; bottom: 25%; font-size: 2.5em; text-align: center; background: url(../images/menu-bg.png); background-size: 100% 100%; left: 50%; transform: translateX(-50%);}
.sys-menu-child{position: absolute; width: 232px; height: 231px;color: #1297a3;}    
.sys-menu-img{position: absolute; width: 100%; height: 100%;left: 0;}

.sys-menu-child-sel{background:url(../images/menu-btn-bg-sel.png);background-size: 100% 100%; }

.sys-menu-g{top: 17%; left: -39%;}
.sys-menu-p{top: 18%; right: -39%;}
.sys-menu-y{top: 78%; left: 20%;}

.sys-menu-text{display: block; margin-top: 64px; letter-spacing: 2px;}
.sys-menu-y-text{}
/*采购区*/
.y-box{height: 38%; bottom: 0;}
.y-liner{ width: 100%; height: 69px; bottom: 0; background-image: -moz-linear-gradient( 90deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255,0.5) 100%); background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255,0.5) 100%); background-image: -ms-linear-gradient( 90deg, rgba(255,255,255,0.30196) 0%, rgba(255,255,255,0.5) 100%);}
.y-type-btn{color: #ffc018; left: 50%; margin-left: -75px; top: 8px; margin-top: 0; }
.y-btns{position: absolute; width: 100%; margin: 0 2%; top: calc((100% + 69px)/2); left: 50%; transform: translate(-50%,-50%);}

/*子页面--表格*/
.child-content-wapper{position: absolute;top: 50%; left:50%;}
.table-box{display: none; position: absolute; bottom: 0; height: calc(100% - 75px); width: 96%; margin: 0 2%;}
/* .table-box-side{width: calc(100% - 75px);height: 100%;} */
.table-box-side{height: 100%;}
.y-table {height: calc(100% - 50px);}
.y-table thead{line-height: 40px;font-size: 14px;background: url(../images/table/bg-head.png);background-size: 100% 100%;}
.y-table tbody{font-size: 14px;background: url(../images/table/bg-body.png);background-size: 100% 100%;}
.y-table tbody {display:block; height:calc(100% - 46px); overflow-y:scroll; }
.y-table thead ,.y-table tbody tr {display:table; width:100%; table-layout:fixed; }
/*.y-table thead {width: calc( 100% - 1em )} */
/*自定义滚动条--start*/
.my-scroll::-webkit-scrollbar {width:6px;}
.my-scroll::-webkit-scrollbar-button{background-color: #5a7675; height: 4px; }
.my-scroll::-webkit-scrollbar-track{background: rgba(255,255,255,0.2); }
/*.my-scroll::-webkit-scrollbar-track-piece {background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png); }*/
.my-scroll::-webkit-scrollbar-thumb{background:#0bf3fb; border-radius:10px;height: 20%; }
/*.my-scroll::-webkit-scrollbar-corner { background:#82AFFF; }*/
/* .my-scroll::-webkit-scrollbar-resizer  {background:#FF0BEE; } */
/*自定义滚动条--end*/

.table-btn{border: none;width: 58px;height: 25px;background: url(../images/table/table-btn.png);background-size: 100% 100%;}
.upper-btns-box{margin: 1%;}
.table-upper-btn{border: none;width: 113px;height: 25px;background: url(../images/table/bg-upper-btn.png);background-size: 100% 100%;} 
.calendar-box{display: inline-block;line-height: 25px;cursor: pointer;}
.calendar-icon{margin: 5px;vertical-align: middle;}
.calendar-input{width: 65%; background: transparent; border: none;}
.search-box{float: right;}

/*修改Bootstrap日历框默认样式*/
.my-date-div{width: 113px;    display: inline-table !important;}
.input-group-addon:first-child{background: transparent;border: none; padding: 3px 8px;}
.input-group .form-control:last-child{background: transparent;border: none;height: 25px; color: #FFF;padding: 3px 0;} 
.glyphicon-calendar:before{ content:url(../images/table/calendar-icon.png)!important;}

@media (max-height: 900px) {
	body{ font-size: 12px; }
	.sys-menu{ width: 270px; height: 262px;}
	.sys-menu-child{width: 160px; height: 161px;}
	.sys-menu-text{margin-top: 34px; }
	
	.side-btns{width: 214px;}
	.btn-bg-rect{height: 100px; line-height: 100px;}
	.btn-bg-rect-side{width: 100px;height: 32.5%;}
	.btn-bg-white-circle{width: 54px; height: 54px;}
	.menu-icon{ margin: 18%;}
}
@media (max-height: 800px) {
	body{ font-size: 12px; }
 	.sys-name{top: 12px;}
 	.sys-menu{ width: 270px; height: 262px;}
 	.sys-menu-child{width: 166px; height: 166px;}

}
@media (max-height: 600px) {
 	body{ font-size: 12px; }
 	.sys-logo{ width: 86px; height: 15px;top: 22px; left: 25px;}
}

@media (max-width: 1359px) {
 	.sys-logo{ width: 108px; height: 19px;top: 22px; left: 25px;}
 	.sys-name{font-size: 28px;}
 	.type-btn{font-size: 24px;}
 	.table-upper-btn{width: 86px;}
 	.table-btn{ width: 42px;}
 	.menu-title{font-size:1.2em}
 	/*.menu-title{left: 45%;}
 	.menu-title-right,.menu-title-left{left: 0; }*/

 	.my-date-div{width: 86px;}

 	.side-btns{width: 140px;}
	.btn-bg-rect{height: 65px; line-height: 65px;}
	.btn-bg-white-circle-y{margin: 8px;}
	.btn-bg-rect-side{width: 65px;height: 32.5%;}
	.btn-bg-white-circle{width: 44px; height: 44px;margin: 8px;}
	.menu-icon{ margin: 12%;}
}